body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: #20B2AA;	
}

body {
  margin: 0;
  padding:0;
}

h1 {
  font-family: trs-million;
  font-size: 300%;	
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: sans-serif;
  font-size: 200%;
  top: 20%;	
  text-align: center;
  padding: 2px;
  	
}
div {
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.2);
}

#calc {
	  height: 800px;
	width 1000px;
  overflow: auto;
  position: absolute;
  bottom: -5%;
  right: 50;
  margin:0;
  background-color: rgba(255,255,255,0.2);
}

@font-face{
	font-family: OpenSans-SemiBold;
	src: url(OpenSans-SemiBold.ttf);
}

#output {
	font-family: OpenSans-SemiBold;
	font-size: 200%;
	position: absolute;
	top: 50%;
	right: 50%;
	margin: 0;
	width: 200px;
	height: 400px;
}
p.status {
	font-size: 150%;
	color: black;
    margin: 0;
    background: white;
    position: absolute;
    top: 47%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -20%) }

p.language {
	font-size: 250%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 40%;
    left: 9%;
    margin-right: -10%;
    transform: translate(-60%, -20%) }

p.tlanguage {
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 20%;
    left: 10%;
    margin-right: -10%;
    transform: translate(-60%, -20%) }

#tconfidence {
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 20%;
    right: 10%;
    margin-right: -10%;
    transform: translate(-60%, -20%) }

#confidence {
	font-size: 250%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 40%;
    right: 15%;
    margin-right: -10%;
    transform: translate(-60%, -20%) }

#tlanguageoverride {
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 40%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#dLanguages {
	font-size: 100%;
	color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 45%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#tapproxim {
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 50%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#approxim {
	width: 30px;
	height: 30px;
	color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 54%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#tmuted {
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 59%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#muted {
	width: 30px;
	height: 30px;
	color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 64%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#ttempresults{
	font-size: 150%;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 69%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#tempresults{
	width: 30px;
	height: 30px;
	color: white;
    margin: 0;
    background: none;
    position: absolute;
    top: 74%;
    left: 65%;
    margin-right: -10%;
    transform: translate(-5%, -5%) }

#calcbackground{
	margin: 0;
    background: none;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -10%;
    transform: translate(-60%, -20%) }
